section(id="right-content-wrapper")
  div(class="right-content-outter")
    div(class="right-content-inner")
  div(id="page-footer" class="padding-1")
    div
      strong SGPL v0.1 
      | Máynez-Ríos © 2016
