nav(id="sidebar")
  ul
    li
      a(href="pages/dashboard.html")
        span(class="menu-item-ico")
          i(class="material-icons") dashboard
        span(class="menu-item-name" data-i18n="nav.dashboard") Dashboard
    li
      a(href="#")
        span(class="menu-item-ico")
          i(class="material-icons") extension
        span(class="menu-item-name" data-i18n="nav.components.components") Opción 1
      ul
        li
          a(href="pages/page-accordions.html")
            span(data-i18n="nav.components.accordions") Sub opción 1
    li
      a(href="#")
        span(class="menu-item-ico")
          i(class="material-icons") format_align_left
        span(class="menu-item-name" data-i18n="nav.forms.forms") Opción 2
      ul
        li
          a(href="pages/page-forms-basic.html")
            span(data-i18n="nav.forms.basic") Sub opción 2
    li(class="nav-main-heading")
      span(class="sidebar-mini-hide" data-i18n="nav.bac.bematAdmin") Agrupar opciones
    li
      a(href="#")
        span(class="menu-item-ico")
          i(class="material-icons") settings_applications
        span(class="menu-item-name" data-i18n="nav.bac.bac") Opción 3
      ul
        li
          a(href="pages/bac-app-layouts.html")
            span(data-i18n="nav.bac.layouts") Sub opción 3
