div(class="wrapper")
    header(class="main-header")
      a(href="index2.html" class="logo")
        span(class="logo-mini")
          b L
          | D
        span(class="logo-lg")
          b LD 
          | | SGPL
      nav(class="navbar navbar-static-top" role="navigation")
        a(href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button")
          span(class="sr-only") Toggle navigation
        div(class="navbar-custom-menu")
          ul(class="nav navbar-nav")
            li(class="dropdown user user-menu")
              a(href="#" class="dropdown-toggle" data-toggle="dropdown")
                img(src="/img/avatar5.png" class="user-image" alt="Usuario.")
                span(class="hidden-xs") Nombre del usuario
              ul(class="dropdown-menu")
                li(class="user-header")
                  img(src="/img/user2-160x160.jpg" class="img-circle" alt="User Image")
                  p
                    | Distribuidor
                    small Algún otro mensaje
                li(class="user-footer")
                  div(class="pull-left")
                    a(href="#" class="btn btn-default btn-flat") Perfil
                  div(class="pull-right")
                    a(href="#" class="btn btn-default btn-flat") Cerrar sesión
            li
              a(href="#" data-toggle="control-sidebar")
                i(class="fa fa-gears")
