doctype html

html
  head
    include ./includes/metas
    include ./includes/styles
    
    link(href="/css/cover/cover.css" rel="stylesheet")
    link(href="/css/styles.css" rel="stylesheet")

    include  ./includes/js
    
    title= title

body
  div(class="site-wrapper")
    div(class="site-wrapper-inner")
      div(class="cover-container")
        div(class="masthead clearfix")
          div(class="inner")
            h3(class="masthead-brand")
              strong LOCKSTEP DESIGN
            nav
              ul(class="nav masthead-nav")
                li
                  a(href="/help") AYUDA
                li
                  a(href="/about") ACERCA DE
        div(class="inner cover")
          h1(class="cover-heading") SGPL
          h1(class="cover-heading") Sistema para la Gestión de Pedidos en Línea
          div(class="opacity-index")
            p(class="lead") El SGPL es una aplicación Web que les permite a nuestros distribuidores llevar una gestión integral de todos sus pedidos, de una manera rápida, segura y sencilla. 
          p(class="lead")
            a(href="/signin" class="btn btn-lg btn-default" style="border-radius: 25px;") Iniciar sesión
            br
            br
            a(href="/signup" class="btn btn-lg btn-default" style="border-radius: 25px;") Solicitar registro
        div(class="mastfoot")
          div(class="inner")
            p &copy 2016 SGPL.
              a(href="#") Máynez-Ríos

script.
  $(window).load(function() {
    $('#signupModal').modal('show');
  });

  $(document).ready(function() {
    $('#signupModal').on('hidden.bs.modal', function (e) {
      window.location.href="/";
    });

    $(function (){
      $("[data-toggle = 'popover']").popover({
          title: 'Información',
          trigger: 'hover'
      });
    });
  });
