extends home

block content
  nav(id="mainNav" class="navbar navbar-default navbar-fixed-top")
    div(class="container-fluid")
      div(class="navbar-header")
        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class="navbar-brand page-scroll" href="/") LOCKSTEP DESIGN

      div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
        ul(class="nav navbar-nav navbar-right")
          li
            a(class="page-scroll" href="#") Acerca de
          li
            a(class="page-scroll" href="#") Ayuda

  header
    div(class="header-content")
      div(class="header-content-inner")
        h1 SGPL
        h1 SISTEMA PARA LA GESTIÓN DE PEDIDOS EN LÍNEA
        h2 AHORA SUS PEDIDOS SON MUCHO MÁS FÁCILES DE HACER
        hr
        p El SGPL es una aplicación Web que les permite a nuestros clientes, llevar una gestión integral de todos sus pedidos, para ello inicie sesión o bien solicite ser registrado.
        a(href="/signin" class="btn btn-primary btn-xl page-scroll") Iniciar sesión
        br
        br
        a(href="/signup" class="btn btn-primary btn-xl page-scroll") Solicitar registro
        br
        br
        
