doctype html

html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")

    title= title
    
    link(href="/css/bootstrap.min.css" rel="stylesheet")
    link(href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet")
    link(href="/css/cover/the-big-picture.css" rel="stylesheet")

    script(src="/js/ie-emulation-modes-warning.js")
    script(src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js")
    script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")

body(class="full")
  div(class="modal fade" tabindex="-1" role="dialog" id="signupModal")
    div(class="modal-dialog modal-lg")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button" class="close" data-dismiss="modal" aria-label="Cerrar")
            span(aria-hidden='true') &times;
          h2(class="modal-title") SGPL
          h4(class="modal-title") Sistema para la Gestión de Pedidos en Línea
        div(class="modal-body")
          form(action="/" method="")
            div(class="panel panel-primary")
              div(class="panel-heading")
                span(class="glyphicon glyphicon-info-sign")
                strong  Información
              div(class="panel-body")
                | Si usted es un distribuidor de 
                strong Lockstep Design 
                | y desea hacer uso de nuestro Sistema para la Gestión de Pedidos en Línea, por favor complete la información solicitada en el presente formulario, para ser registrado, un correo electrónico de confirmación e instrucciones, le será enviado una vez que los datos proporcionados hayan sido verificados.
            
            table(style="width: 100%;")
              tr
                td(colspan="6")
                  h4 Registro de Usuario
              tr(style="border-bottom: 1px solid #a4a4a4;")
                td(colspan="6" style="padding-bottom: 10px;")
                  strong Cliente
              tr
                td(colspan="5" style="padding-bottom: 15px; padding-top: 15px; padding-right: 10px;")
                  input(type="text" class="form-control" placeholder="Nombre Completo/Razón Social" name="nombreCompleto")
                td(colspan="1" style="padding-bottom: 15px; padding-top: 15px;")
                  input(type="text" class="form-control" placeholder="RFC/CURP" name="rfcCurp")
              tr(style="border-bottom: 1px solid #a4a4a4;")
                td(colspan="6" style="padding-bottom: 10px;")
                  strong Domicilio
              tr
                td(colspan="4" style="padding-bottom: 15px; padding-top: 15px; padding-right: 10px;")
                  input(type="text" class="form-control" placeholder="Calle" name="calle")
                td(colspan="1" style="padding-bottom: 15px; padding-top: 15px; padding-right: 10px;")
                  input(type="text" class="form-control" placeholder="Numero ext." name="numeroExterior")
                td(colspan="1" style="padding-bottom: 15px; padding-top: 15px;")
                  input(type="text" class="form-control" placeholder="Numero int." name="numeroInterior")
              tr
                td(colspan="5" style="padding-bottom: 15px; padding-right: 10px;")
                  input(type="text" class="form-control" placeholder="Colonia" name="colonia")
                td(colspan="1" style="padding-bottom: 15px;")
                  input(type="text" class="form-control" placeholder="C. P." name="codigoPostal")
              tr
                td(colspan="4" style="padding-bottom: 15px; padding-right: 10px;")
                  input(type="text" class="form-control" placeholder="Población" name="poblacion")
                td(colspan="1" style="padding-bottom: 15px; padding-right: 10px;")
                  select(class="form-control")
                    option Ciudad
                td(colspan="1" style="padding-bottom: 15px;")
                  select(class="form-control")
                    option Estado
              tr(style="border-bottom: 1px solid #a4a4a4;")
                td(colspan="6" style="padding-bottom: 10px;")
                  strong Teléfonos y Correo electrónico
              tr
                td(colspan="4" style="padding-bottom: 15px; padding-top: 15px; padding-right: 10px;")
                  input(type="text" class="form-control" placeholder="Teléfono 1" name="telefono1")
                td(colspan="1" style="padding-bottom: 15px; padding-top: 15px; padding-right: 10px;")
                  input(type="text" class="form-control" placeholder="Teléfono 2" name="telefono2")
                td(colspan="1" style="padding-bottom: 15px; padding-top: 15px;")
                  input(type="text" class="form-control" placeholder="Correo electrónico" name="correoElectronico")
              tr
                td(colspan="6")
                  input(type="submit" value="Aceptar" class="btn btn-primary" style="float: right; width: 150px;")
        div(class="modal-footer")
          a(href="/") Regresar a Inicio

script.
  $(window).load(function() {
    $('#signupModal').modal('show');
  });

  $(document).ready(function() {
    $('#signupModal').on('hidden.bs.modal', function (e) {
      window.location.href="/";
    });
  });
