doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")

    link(rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" type="text/css")
    link(rel="stylesheet" href="/css/the-big-picture.css" type="text/css")
    
    script(src="/js/jquery/jquery.min.js")
    script(src="/js/bootstrap/bootstrap.min.js")
    
    title= title

body(class="full")
  div(class="modal fade" tabindex="-1" role="dialog" id="signupModal")
    div(class="modal-dialog modal-md")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button" class="close" data-dismiss="modal" aria-label="Cerrar")
            span(aria-hidden='true') &times;
          h2(class="modal-title") SGPL
          h4(class="modal-title") Sistema para la Gestión de Pedidos en Línea
        div(class="modal-body")
          form(class="form-horizontal" action="/" method="")
            h3 Preregistro de Usuario
            div(class="form-group")
              div(class="col-sm-12")
                input(type="text" class="form-control" placeholder="Nombre Completo" name="nombreCompleto")
            
            div(class="form-group")
              div(class="col-sm-12")
                input(type="text" class="form-control" placeholder="Domicilio" name="domicilio")
              
            div(class="form-group")
              div(class="col-sm-12")  
                input(type="text" class="form-control" placeholder="Numero Interior" name="numeroInterior")
              
            div(class="form-group")
              div(class="col-sm-12")
                input(type="text" class="form-control" placeholder="Numero Exterior" name="numeroExterior")
            
            div(class="form-group")
              div(class="col-sm-12")  
                input(type="text" class="form-control" placeholder="Correo Electronico" name="email")
              
            div(class="form-group")
              div(class="col-sm-12")  
                input(type="text" class="form-control" placeholder="RFC" name="rfc")

            div(class="form-group")
              div(class="col-sm-12")
                input(type="submit" value="Aceptar" class="btn btn-primary btn-block")
        div(class="modal-footer")
          a(href="/signin") Regresar al Inicio de sesión

script.
  $(window).load(function() {
    $('#signupModal').modal('show');
  });

  $(document).ready(function() {
    $('#signupModal').on('hidden.bs.modal', function (e) {
      window.location.href="/";
    });
  });
