doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-capable" content="yes")

    link(rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" type="text/css")
    link(rel="stylesheet" href="/css/the-big-picture.css" type="text/css")
    link(rel="stylesheet" href="/css/switchery/switchery.min.css" type="text/css")

    script(src="/js/jquery/jquery.min.js")
    script(src="/js/bootstrap/bootstrap.min.js")
    script(src="/js/switchery/switchery.min.js")

    title= title

body(class="full")
  div(class="modal fade" tabindex="-1" role="dialog" id="loginModal")
    div(class="modal-dialog modal-sm")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button" class="close" data-dismiss="modal" aria-label="Cerrar")
            span(aria-hidden='true') &times;
          h2(class="modal-title") SGPL
          h4(class="modal-title") Sistema para la Gestión de Pedidos en Línea
        div(class="modal-body")
          form(class="form-horizontal" action="/authenticate" method='post')
            h3 Iniciar sesión
            div(class="form-group")
              div(class="col-sm-12")
                div(class="input-group")
                  span(class="input-group-addon")
                    i(class="glyphicon glyphicon-user")
                  input(type="text" class="form-control" placeholder="Número de cliente" name="numero")

            div(class="form-group")
              div(class="col-sm-12")
                div(class="input-group")
                  span(class="input-group-addon")
                    i(class="glyphicon glyphicon-lock")
                  input(type="password" class="form-control" placeholder="Contraseña" name="clave")

            div(class="form-group")
              div(class="col-sm-12")
                input(type="checkbox" class="js-switch")
                label(style="padding-left: 10px;") Recordar mis datos

            div(class="form-group")
              div(class="col-sm-12")
                input(type="submit" value="Aceptar" class="btn btn-primary btn-block")
        div(class="modal-footer")
          | ¿No puede iniciar sesión?
          br
          a(href="#") Recuperar contraseña
          |.

script.
  $(window).load(function() {
    $('#loginModal').modal('show');
  });

  $(document).ready(function() {
    // Aplicar estílo a los Checkboxes.
    var checkBox = document.querySelector('.js-switch');
    var init = new Switchery(checkBox, {size: 'small'});

    $('#loginModal').on('hidden.bs.modal', function (e) {
      window.location.href="/";
    });
  });
